<% @posts.each do |post| %>
  <h2><%= link_to post.title, post %></h2>
  <p>created at <%= post.created_at %></p>
<% end %>

<%= render "/shared/query_sidebar" %>
<%= render "/shared/categories_sidebar" %>
<%= render "/shared/tagcloud_sidebar" %>
<%= render "/shared/recent_comments_sidebar" %>


