<% @posts.each do |post| %>
  <h2><%= post.title %></h2>
  <p><%= post.comments.count %></p>
  <p>created at <%= post.created_at %></p>
  <p><%=raw  post.body %></p>
  <p>Tags: <%= post.tag_list %></p>

  <%= link_to 'Show', post %>
  <%= link_to 'Edit', edit_post_path(post) %>
  <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
<% end %>

<br />

<%= link_to 'New Post', new_post_path %>
