<p id="notice"><%= notice %></p>

<div id="post_main">
  <h2>
    <%= @post.title %>
    <% if user_signed_in? %>
      <div id="logged">
        <%= link_to 'Edit', edit_post_path(@post) %>
        <%= link_to 'Destroy', @post, :confirm => 'Are you sure?', :method => :delete %>
      </div>
    <% end %>
  </h2>

  <p> <%= raw @post.body %> </p>

  <%= link_to 'Back', posts_path %>
  <%= link_to "Comment", new_post_comments_path(@post) %>
</div>

<div id="post_info">
  <p><%= @post.created_at.strftime('%Y-%m-%d %H:%M:%S') %></p>
  <p>Tags:
  <% @post.tag_list.each do |tag| %>
    <%= link_to tag, {:action=>'filter', :tag=>tag} %>
  <% end %>
</div>

<div id="blank"></div>

<h3> comments </h3>
<ul class="comment_list">
  <%= render :partial => 'comments/comment', :collection => @post.comments %>
</ul>

