<!DOCTYPE html>
<html>
  <head>
    <title>Rw</title>
    <%= stylesheet_link_tag 'scaffold', 'tagcloud', 'simple' %>
    <%= javascript_include_tag 'prototype', 'effects', 'dragdrop', 'controls', 'rails', 'application' %>

    <%= csrf_meta_tag %>

    <%= auto_discovery_link_tag :atom, "/feed" %>
    <%= auto_discovery_link_tag :rss, "/feed.rss" %>
  </head>

  <body>
    <div id="wrap1">
      <div id="wrapper">

        <div id="banner">
          <h1>
            <%= link_to "RoverWay", root_url%>
            <%= link_to image_tag("rss.png"), feed_path %>
          </h1>
          <p> Linux, ruby on rails, and things about my life </p>
        </div>

        <div id="navbar">
          <li><%= link_to "Home", root_url %></li>
          <li><%= link_to "Projects", "projects" %></li>
          <li><%= link_to "AboutMe", "aboutme" %></li>
          <%= render "shared/logged_in" %>
        </div>

        <div id="notice">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>

        <div class="leftbar">
          <% if controller_name=="posts" %>
            <%= render "/shared/query_sidebar" %>
            <%= render "/shared/categories_sidebar" %>
            <%= render "/shared/tagcloud_sidebar" %>
            <%= render "/shared/recent_comments_sidebar" %>
            <%= render "/shared/fanfou" %>
          <% end %>
        </div>

        <div class="mainarea">
          <%= yield %>
        </div>

        <div id="blank"></div>

        <div id="footer">
          <p> Designed by rw with RubyOnRails, use theme default </>
        </div>

      </div>
    </div>
  </body>

</html>
